
/* global scopew */
:root{
  --main-color: #000;
  --title-color:#eee;
}



*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

img{
  width: 100%;
}

body{
  background: var(--main-color);
}

p{
  color: var(--title-color);
}








/* opject-fit 
place-items
*/